* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Amatic SC", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
.tours {
  width: 818px;
  margin: -35px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tour-home-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 236px;
  height: 304px;
  background-image: linear-gradient(
      to right,
      rgba($site-black, 0.2),
      rgba($site-black, 0.2)
    ),
    url("../images/tourimg/tour-01.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding-top: 30px;
    font-size: 60px;
  }
  p {
    margin: -30px auto 0 auto;
    font-size: 30px;
  }
}
.tour-home-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 236px;
  height: 304px;
  background-image: linear-gradient(
      to right,
      rgba($site-black, 0.2),
      rgba($site-black, 0.2)
    ),
    url("../images/tourimg/tour-02.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding-top: 30px;
    font-size: 60px;
  }
  p {
    margin: -30px auto 0 auto;
    font-size: 30px;
  }
}
.tour-home-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 236px;
  height: 304px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba($site-black, 0.2),
      rgba($site-black, 0.2)
    ),
    url("../images/tourimg/tour-03.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding-top: 30px;
    font-size: 60px;
  }
  p {
    margin: -30px auto 0 auto;
    font-size: 30px;
  }
}
.submit-button {
  margin-top: 75px;
  background-color: $site-blue;
  color: $site-white;
  width: 133px;
  height: 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking {
  width: 814px;
  margin: 70px auto;
  h1 {
    font-size: 60px;
  }
  input {
    height: 58px;
  }
}
.input-one {
  input {
    border: 1px solid $site-blue;
    padding: 10px;
    font-size: 18px;
  }
  .left-inputbox {
    width: 344px;
  }
  .right-inputbox {
    width: 453px;
  }
}
.input-two {
  padding-top: 20px;
  input {
    border: 1px solid $site-blue;
    padding: 10px;
    font-size: 18px;
  }
  .left-inputbox {
    width: 344px;
  }
  .right-inputbox {
    width: 453px;
  }
}
